<body>
  <main class="container">
    <section>

      <% if (questions && questions.length > 0) { %>
        <form id="quiz" action="/quiz/:id" method="POST">

          <% console.log("Questions:", questions); %>

          <% questions.forEach(question => { %>
            <h3><%= question.question_content %></h3>
            <fieldset id="<%= `question-${question.question_id}` %>" data-correctanswer="<%= question.correct_answer %>">

              <% if (question.option_a && question.option_b && question.option_c) { %>
                <input required type="radio" id="<%= `${question.option_a}-${question.question_id}` %>" name="<%= `question-${question.question_id}` %>" value="<%= question.option_a %>">
                <label for="<%= `${question.option_a}-${question.question_id}` %>">
                  <%= question.option_a %>
                </label><br>

                <input required type="radio" id="<%= `${question.option_b}-${question.question_id}` %>" name="<%= `question-${question.question_id}` %>" value="<%= question.option_b %>">
                <label for="<%= `${question.option_b}-${question.question_id}` %>">
                  <%= question.option_b %>
                </label><br>

                <input required type="radio" id="<%= `${question.option_c}-${question.question_id}` %>" name="<%= `question-${question.question_id}` %>" value="<%= question.option_c %>">
                <label for="<%= `${question.option_c}-${question.question_id}` %>">
                  <%= question.option_c %>
                </label><br>
              <% } else { %>
                <p>No options available for this question.</p>
              <% } %>
            </fieldset>
          <% }) %>

          <p id="scoreboard"></p>
          <button type="submit" id="submit-quiz">Submit!</button>
        </form>
      <% } else { %>
        <p>No questions available for this quiz.</p>
      <% } %>
    </section>
  </main>
</body>
