<body>
  <main class="container">
    <section>

      <% if (questions) { %>
        <form id="quiz" action="/quiz/:id" method="POST">
          <h2><%= questions.title %></h2>
          <p><%= questions.description %></p>
          <p>Created by: <%= questions.creator %></p>

          <% console.log("Questions:", questions); %>

          <% if (questions.questions) { %>
            <% questions.questions.forEach(question => { %>
              <% console.log("Question:", question); %>
              <h3><%= question.question %></h3>
              <fieldset id="<%= `question-${question.question_id}` %>" data-correctanswer="<%= question.correct_answer %>">

                <% console.log("Options:", question.options); %>

                <% if (question.options && question.options.length > 0) { %>
                  <% question.options.forEach(option => { %>
                    <% console.log("Option:", option); %>
                    <input required type="radio" id="<%= `${option.option}-${option.id}` %>" name="<%= `question-${question.question_id}` %>" value="<%= option.option %>">
                    <label for="<%= `${option.option}-${option.id}` %>">
                      <%= option.option %>
                    </label><br>
                  <% })%>
                <% } else { %>
                  <p>No options available for this question.</p>
                <% } %>
              </fieldset>
            <% })%>
          <% } else { %>
            <p>No questions available for this quiz.</p>
          <% } %>

          <p id="scoreboard"></p>
          <button type="submit" id="submit-quiz">Submit!</button>
        </form>
      <% } else { %>
        <p>No questions available for this quiz.</p>
      <% } %>
    </section>
  </main>
</body>
